<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= link_to "Invite Employees", :action => 'invite' %><br>
<%= link_to "show Employees", :action => 'show_employees' %><br>
<%= link_to "show projects", :action => 'show_projects' %><br>
